# Auto detect text files and perform LF normalization
* text=auto
# Ignore non-source files
*.pcds linguist-detectable=false
*.pack linguist-detectable=false
*.~pr linguist-detectable=false
*.lsc linguist-detectable=false
*.fzz linguist-detectable=false
*.cmp linguist-detectable=false
*.bmp linguist-detectable=false
*.png linguist-detectable=false
*.gif linguist-detectable=false
*.jpg linguist-detectable=false
*.cad linguist-detectable=false
*.snp linguist-detectable=false
*.pdf linguist-detectable=false
*.docx linguist-detectable=false
*.xlsx linguist-detectable=false
*.xml linguist-detectable=false
*.rev linguist-detectable=false
*.udw linguist-detectable=false
*.script linguist-detectable=false
*.workspace linguist-detectable=false
*.7z linguist-detectable=false

# Prevent Prolog misclassification
*.prolock linguist-detectable=false
*.pro linguist-detectable=false

# Ensure correct languages
*.ino linguist-language=C++
*.h linguist-language=C++
*.cpp linguist-language=C++
*.py linguist-language=Python